:root {
  --space: 1rem;

  /* Colors */
  --primary: #d4a373;

  --background: #fefae0;
  --background-dark: #6e543b;

  --font-color-dark: #30251a;

  /* Font Styles */
  --font-body: "Lato", sans-serif;
  --font-header: "Merienda Variable", cursive;

  /* Font Sizes */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1920,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6944rem, 0.6733rem + 0.1056vi, 0.8rem);
  --step--1: clamp(0.8333rem, 0.8rem + 0.1667vi, 1rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vi, 1.25rem);
  --step-1: clamp(1.2rem, 1.1275rem + 0.3625vi, 1.5625rem);
  --step-2: clamp(1.44rem, 1.3374rem + 0.5131vi, 1.9531rem);
  --step-3: clamp(1.728rem, 1.5853rem + 0.7134vi, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.878rem + 0.9782vi, 3.0518rem);
  --step-5: clamp(2.4883rem, 2.223rem + 1.3264vi, 3.8147rem);

  /* Spacing */
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);
}
