:root {
  /* Shoelace Overrides */
  --sl-color-primary-50: rgb(252 249 246);
  --sl-color-primary-100: rgb(245 235 224);
  --sl-color-primary-200: rgb(238 219 200);
  --sl-color-primary-300: rgb(230 202 174);
  --sl-color-primary-400: rgb(219 179 139);
  --sl-color-primary-500: rgb(196 151 107);
  --sl-color-primary-600: rgb(162 125 88);
  --sl-color-primary-700: rgb(133 102 72);
  --sl-color-primary-800: rgb(110 84 59);
  --sl-color-primary-900: rgb(78 60 42);
  --sl-color-primary-950: rgb(48 37 26);
}
