---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <center>
      <stack-l space="12rem">
        <h1>This is a heading</h1>
        <p>This is a paragraph</p>
      </stack-l>
      <stack-l space="1rem">
        <h1>This is a heading</h1>
        <p>This is a paragraph</p>
      </stack-l>
    </center>
  </main>
</Layout>

<style>
  stack-l {
    background-color: gray;
  }
</style>
