---
import logo from "../assets/svg/CD_White_Secondary.svg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---

<footer>
  <cluster-l justify="center" align="center" space="var(--space-2xl)">
    <Icon name="acorn2" size={96} />
    <cluster-l space="var(--space-m)">
      <stack-l class="nav-stack">
        <h2>Navigation</h2>
        <menu>
          <li><a href="/">Home</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact</a></li>
        </menu>
      </stack-l>
      <stack-l class="nav-stack">
        <h2>Navigation</h2>
        <menu>
          <li><a href="/">Home</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact</a></li>
        </menu>
      </stack-l>
      <stack-l class="nav-stack">
        <h2>Navigation</h2>
        <menu>
          <li><a href="/">Home</a></li>
          <li><a href="/">Services</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Contact</a></li>
        </menu>
      </stack-l>
    </cluster-l>
  </cluster-l>
</footer>

<style>
  footer {
    min-height: 200px;
    padding: calc(var(--space) * 2);
    color: white;
    background-color: var(--background-dark);
  }

  h2 {
    font-size: var(--step-1);
    text-align: left;
  }

  menu {
    padding-inline-start: 0px;
  }

  li {
    list-style: none;
    padding-inline-start: 0;
    text-align: left;
  }

  a {
    transform: translateX(0px);
    color: white;
  }

  a:hover {
    transform: translateX(0.5ch);
    color: var(--green);
  }

  footer > cluster-l {
    min-height: inherit;
  }

  .nav-stack {
    min-width: 200px;
  }
</style>
