---
import "../styles/reset.css";
import "../styles/main.css";
import "../styles/properties.css";
import "../styles/shoelace.css";
import "@fontsource/lato";
import "@fontsource-variable/merienda";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Acorn - A template for rapid development"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Shoelace stuff -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.0/cdn/shoelace-autoloader.js"
    ></script>

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <cover-l centered="center-l">
      <Header />
      <!-- Content -->
      <main>
        <stack-l space="var(--space-l)">
          <slot />
        </stack-l>
      </main>
      <Footer />
    </cover-l>
  </body>
</html>

<style is:global>
  :root {
    font-family: var(--font-body);
  }
</style>

<script>
  const webComponentsCSS = await import.meta.glob(
    "../../everylayout/**/*.css",
    { eager: true },
  );
  const webComponentsJS = await import.meta.glob("../../everylayout/**/*.js", {
    eager: true,
  });
</script>
